body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#seats-wrapper {
  background-color: navajowhite;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 600px; */
  margin: 30px;
}

.seat {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: darkseagreen;
  margin: 1px;
  padding: 0px;
}

.seat:hover {
  background-color: aquamarine;
}

#screen {
  width: 50rem;
  height: 15px;
  background-color: black;
  margin: 10px;
}

.seat-row {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: chartreuse;
}

@media (min-width: 1028px) {
  #seats-wrapper {
    width: 900px;
  }
}
